<!-- BEGIN: CONTENT/SHOPS/SHOP-2-2 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space">
  <div class="container">
    <div class="c-content-title-4">
      <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
        <span class="c-bg-white">新着商品</span>
      </h3>
    </div>
    <div class="row">
      <div data-slider="owl">
        <div class="owl-carousel owl-theme c-theme owl-small-space c-owl-nav-center" data-rtl="false" data-items="4" data-slide-speed="8000">
          <div class="item">
            <div class="c-content-product-2 c-bg-white c-border">
              <div class="c-content-overlay">
                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                  <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/18.png') }});"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">Samsung Galaxy Note 4</p>
              <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
              </p>
            </div>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group c-border-top" role="group">
                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
              </div>
              <div class="btn-group c-border-left c-border-top" role="group">
                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/27.png') }});"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">Samsung Galaxy S4</p>
              <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
              </p>
            </div>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group c-border-top" role="group">
                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
              </div>
              <div class="btn-group c-border-left c-border-top" role="group">
                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/21.png') }});"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">Apple iPhone 5</p>
              <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
              </p>
            </div>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group c-border-top" role="group">
                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
              </div>
              <div class="btn-group c-border-left c-border-top" role="group">
                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
              <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
              <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
              <div class="c-overlay-wrapper">
                <div class="c-overlay-content">
                  <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                </div>
              </div>
              <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/22.png') }});"></div>
            </div>
            <div class="c-info">
              <p class="c-title c-font-18 c-font-slim">HTC</p>
              <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                <span class="c-font-16 c-font-line-through c-font-red">$600</span>
              </p>
            </div>
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group c-border-top" role="group">
                <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
              </div>
              <div class="btn-group c-border-left c-border-top" role="group">
                <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="c-content-product-2 c-bg-white c-border">
            <div class="c-content-overlay">
              <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/20.png') }});"></div>
              </div>
              <div class="c-info">
                <p class="c-title c-font-18 c-font-slim">Apple iPhone 6</p>
                <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                  <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                </p>
              </div>
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group c-border-top" role="group">
                  <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                </div>
                <div class="btn-group c-border-left c-border-top" role="group">
                  <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="c-content-product-2 c-bg-white c-border">
              <div class="c-content-overlay">
                <div class="c-label c-bg-red-2 c-font-uppercase c-font-white c-padding-10 c-font-13 c-font-bold">Hot</div>
                <div class="c-overlay-wrapper">
                  <div class="c-overlay-content">
                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center-contain c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop5/24.png') }});"></div>
              </div>
              <div class="c-info">
                <p class="c-title c-font-18 c-font-slim">Apple iPhone 6+</p>
                <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
                  <span class="c-font-16 c-font-line-through c-font-red">$600</span>
                </p>
              </div>
              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group c-border-top" role="group">
                  <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
                </div>
                <div class="btn-group c-border-left c-border-top" role="group">
                  <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-2-2 -->