<!-- BEGIN: CONTENT/SHOPS/SHOP-1-2 -->
<div class="c-content-box c-size-md">
  <div class="container">
    <div class="c-content-title-4">
      <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
        <span class="c-bg-white">人気商品トップ３</span>
      </h3>
    </div>
    <div class="c-content-tab-5 c-theme">
      <!-- Nav tabs -->
      <ul class="nav nav-pills c-nav-tab c-arrow" role="tablist">
        <li role="presentation" class="active">
          <a class="c-font-uppercase" href="#racket" aria-controls="watches" role="tab" data-toggle="tab">ラケット</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#shose" aria-controls="phone" role="tab" data-toggle="tab">シューズ</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#string" aria-controls="imac" role="tab" data-toggle="tab">ストリング</a>
        </li>
        <li role="presentation">
          <a class="c-font-uppercase" href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">アクセサリー他</a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="racket">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/F-LASER/FLR7V-001" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/8_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/70.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/79.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="shose">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-shoes/61GB171301" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/40_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/59.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">見てみる</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/71.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="string">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-gut/SGVA" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Go!</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/9_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/74.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/91.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="accessories">
          <div class="row">
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="http://www.softtennis-lafino.jp/fs/softtennis/soft-ball/STBD2DOZ" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">GO!</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url('http://www.softtennis-lafino.jp/shop/item/softtennis/picture/goods/79_1.jpg');"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/67.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="c-content c-content-overlay">
                <div class="c-overlay-wrapper c-overlay-padding">
                  <div class="c-overlay-content">
                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                  </div>
                </div>
                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/77.jpg') }});"></div>
                <div class="c-overlay-border"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-1-2 -->