<!-- BEGIN: CONTENT/SHOPS/SHOP-2-1 -->
<div class="c-content-box c-size-md c-overflow-hide c-bs-grid-small-space c-bg-grey-1">
  <div class="container">
    <div class="c-content-title-4">
      <h3 class="c-font-uppercase c-center c-font-bold c-line-strike">
        <span class="c-bg-grey-1">① Most Popular</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
            <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/93.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Smartphone & Handset</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/95.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Canvas Shoes</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/91.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Shoes & Tie</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-label c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/88.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Smartphone & Handset</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/89.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Watches & Accessories</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/96.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Exclusive Watches</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/102.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Watches & Accessories</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 c-margin-b-20">
        <div class="c-content-product-2 c-bg-white">
          <div class="c-content-overlay">
            <div class="c-label c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
            <div class="c-overlay-wrapper">
              <div class="c-overlay-content">
                <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
              </div>
            </div>
            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/100.jpg') }});"></div>
          </div>
          <div class="c-info">
            <p class="c-title c-font-18 c-font-slim">Titanium Watch</p>
            <p class="c-price c-font-16 c-font-slim">$548 &nbsp;
              <span class="c-font-16 c-font-line-through c-font-red">$600</span>
            </p>
          </div>
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group c-border-top" role="group">
              <a href="shop-product-wishlist.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Wishlist</a>
            </div>
            <div class="btn-group c-border-left c-border-top" role="group">
              <a href="shop-cart.html" class="btn btn-lg c-btn-white c-btn-uppercase c-btn-square c-font-grey-3 c-font-white-hover c-bg-red-2-hover c-btn-product">Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END: CONTENT/SHOPS/SHOP-2-1 -->
