{% extends "layouts/base.html.twig" %}

{% block contents %}
  <!-- BEGIN: PAGE CONTAINER -->
  <div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    {{ include('pages/home/_slider.html.twig') }}
    <!-- お知らせ（箇条書き） -->
    {{ include('pages/home/_news.html.twig') }}
    <!-- 新着商品（カルーセル） -->
    {{ include('pages/home/_new_products.html.twig') }}
    <!-- カテゴリ毎の人気商品（タブ切り替え） -->
    {{ include('pages/home/_popular.html.twig') }}
    <!-- 店長のおすすめ商品（グリッド） -->
    {{ include('pages/home/_hot_products.html.twig') }}
    <!-- インフォメーション -->
    {{ include('pages/home/_info.html.twig') }}
    <!-- END: PAGE CONTENT -->
  </div>
  <!-- END: PAGE CONTAINER -->
{% endblock %}

{% block pagescript %}
  {{ include('pages/home/_pagescript.html.twig') }}
{% endblock %}
