{% extends "layouts/base.html.twig" %}

{% block contents %}
  <!-- BEGIN: PAGE CONTAINER -->
  <div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->
    {{ include('pages/home/_shop2-1.html.twig') }}
    {{ include('pages/home/_shop2-2.html.twig') }}
    {{ include('pages/home/_shop2-3.html.twig') }}
    {{ include('pages/home/_shop2-4.html.twig') }}
    {{ include('pages/home/_shop2-5.html.twig') }}
    {{ include('pages/home/_shop2-6.html.twig') }}
    {{ include('pages/home/_shop2-7.html.twig') }}
    {{ include('pages/home/_shop2-8.html.twig') }}
    <!-- END: PAGE CONTENT -->
  </div>
  <!-- END: PAGE CONTAINER -->
{% endblock %}