            <!-- BEGIN: CONTENT/SHOPS/SHOP-1-1 -->
            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-tab-5 c-bs-grid-reset-space c-theme">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills c-nav-tab c-arrow" role="tablist">
                            <li role="presentation" class="active">
                                <a class="c-font-uppercase" href="#watches" aria-controls="watches" role="tab" data-toggle="tab">Watches</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#phone" aria-controls="phone" role="tab" data-toggle="tab">Phone</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#imac" aria-controls="imac" role="tab" data-toggle="tab">iMac</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">Accessories</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="watches">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/69.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/70.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/79.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="phone">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/63.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/59.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/71.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="imac">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/73.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/74.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/91.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="accessories">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/63.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/67.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/77.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-1-1 -->

            <div class="c-content-box c-size-md">
                <div class="container">
                    <div class="c-content-tab-5 c-bs-grid-reset-space c-theme">
                        <!-- Nav tabs -->
                        <ul class="nav nav-pills c-nav-tab c-arrow" role="tablist">
                            <li role="presentation" class="active">
                                <a class="c-font-uppercase" href="#watches" aria-controls="watches" role="tab" data-toggle="tab">Watches</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#phone" aria-controls="phone" role="tab" data-toggle="tab">Phone</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#imac" aria-controls="imac" role="tab" data-toggle="tab">iMac</a>
                            </li>
                            <li role="presentation">
                                <a class="c-font-uppercase" href="#accessories" aria-controls="accessories" role="tab" data-toggle="tab">Accessories</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="watches">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/69.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/70.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/79.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="phone">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/63.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/59.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop2/71.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="imac">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/73.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/74.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/91.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="accessories">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/63.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/67.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="c-content c-content-overlay">
                                            <div class="c-overlay-wrapper c-overlay-padding">
                                                <div class="c-overlay-content">
                                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                                </div>
                                            </div>
                                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 270px; background-image: url({{ ssl_url('assets/base/img/content/shop3/77.jpg') }});"></div>
                                            <div class="c-overlay-border"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-1-1 -->
