<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ブランドで探す
    <span class="c-arrow c-toggler"></span>
  </a>
  <div class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
    <div class="row">
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ヨネックス</h3>
          </li>
          <li>
            <a href="{{ cat_url('yonex-racket') }}">ラケット</a>
          </li>
          <li>
            <a href="{{ cat_url('yonex-wear') }}">ウェア</a>
          </li>
          <li>
            <a href="{{ cat_url('yonex-bag') }}">バッグ</a>
          </li>
          <li>
            <a href="{{ cat_url('yonex-gut') }}">ガット</a>
          </li>
      </div>
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ミズノ</h3>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-racket') }}">ラケット</a>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-shose') }}">シューズ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>スリクソン</h3>
          </li>
          <li>
            <a href="{{ cat_url('srixon-racket') }}">ラケット</a>
          </li>
          <li>
            <a href="{{ cat_url('srixon-ball') }}">ボール</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>アシックス</h3>
          </li>
          <li>
            <a href="{{ cat_url('asics-shose') }}">シューズ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ゴーセン</h3>
          </li>
          <li>
            <a href="{{ cat_url('gosen-gut') }}">ガット</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>ケンコー</h3>
          </li>
          <li>
            <a href="{{ cat_url('kenko-ball') }}">ボール</a>
          </li>
        </ul>
      </div>
     </div>
  </div>
</li>