<li>
  <a href="javascript:;" class="c-link dropdown-toggle">ラケット
    <span class="c-arrow c-toggler"></span>
  </a>
  <ul class="dropdown-menu c-menu-type-classic c-pull-left">
    <li class="dropdown-submenu">
      <a href="{{ cat_url('soft-racket') }}">全ブランド
        <span class="c-arrow c-toggler"></span>
      </a>
    </li>
    <li class="dropdown-submenu">
      <a href="{{ cat_url('yonex-racket') }}">ヨネックス
        <span class="c-arrow c-toggler"></span>
      </a>
      {# ２階層目は削除
      <ul class="dropdown-menu c-pull-right">
        <li>
          <a href="{{ cat_url('F-LASER') }}">エフレーザー(F-LASER)</a>
        </li>
        <li>
          <a href="{{ cat_url('NEXIGA') }}">ネクシーガ(NEXIGA)</a>
        </li>
        <li>
          <a href="{{ cat_url('LASERUSH') }}">レーザーラッシュ(LASERUSH)</a>
        </li>
        <li>
          <a href="{{ cat_url('GSR') }}">ジーエスアール(GSR)</a>
        </li>
        <li>
          <a href="{{ cat_url('i-NEXTAGE') }}">アイネクステージ(i-NEXTAGE)</a>
        </li>
        <li>
          <a href="{{ cat_url('NANOFORCE-REV ') }}">ナノフォースレブ(NANOFORCE REV)</a>
        </li>
        <li>
          <a href="{{ cat_url('MUSCLE-POWER') }}">マッスルパワー(MUSCLE POWER)</a>
        </li>
        <li>
          <a href="{{ cat_url('ACEGATE') }}">エースゲート(ACEGATE)</a>
        </li>
      </ul>
      #}
    </li>
    <li class="dropdown-submenu">
      <a href="{{ cat_url('mizuno-racket') }}">ミズノ
        <span class="c-arrow c-toggler"></span>
      </a>
      {# ２階層目は削除
      <ul class="dropdown-menu c-pull-right">
        <li>
          <a href="{{ cat_url('Xyst-ZERO') }}">ジストゼロ(Xyst ZERO)</a>
        </li>
        <li>
          <a href="{{ cat_url('DI') }}">ディーアイ(DI)</a>
        </li>
        <li>
          <a href="{{ cat_url('Xyst') }}">ジスト(Xyst)</a>
        </li>
        <li>
          <a href="{{ cat_url('Deep-Impact ') }}">ディープインパクト(Deep Impact)</a>
        </li>
        <li>
          <a href="{{ cat_url('TECHNIX ') }}">テクニクス(TECHNIX)</a>
        </li>
      </ul>
      #}
    </li>
    <li>
      <a href="{{ cat_url('srixon-racket') }}">スリクソン</a>
    </li>
  </ul>
</li>