<li>
  <a href="javascript:;" class="c-link dropdown-toggle">シューズ
    <span class="c-arrow c-toggler"></span>
  </a>
  <div class="dropdown-menu c-menu-type-mega c-menu-type-fullwidth" style="min-width: auto">
    <div class="row">
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>メンズ</h3>
          </li>
          <li>
            <a href="{{ cat_url('soft-shose') }}">全ブランド</a>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-shose') }}">ミズノ</a>
          </li>
          <li>
            <a href="{{ cat_url('asics-shose') }}">アシックス</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="dropdown-menu c-menu-type-inline">
          <li>
            <h3>レディース</h3>
          </li>
          <li>
            <a href="{{ cat_url('soft-shose') }}">全ブランド</a>
          </li>
          <li>
            <a href="{{ cat_url('mizuno-shose') }}">ミズノ</a>
          </li>
          <li>
            <a href="{{ cat_url('asics-shose') }}">アシックス</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</li>