<!-- BEGIN: HOR NAV -->
<!-- BEGIN: LAYOUT/HEADERS/MEGA-MENU -->
<!-- BEGIN: MEGA MENU -->
<!-- Dropdown menu toggle on mobile: c-toggler class can be applied to the link arrow or link itself depending on toggle mode -->
<nav class="c-mega-menu c-pull-right c-mega-menu-dark c-mega-menu-dark-mobile c-fonts-uppercase c-fonts-bold">
  <ul class="nav navbar-nav c-theme-nav">
    {{ include('mega_menu/_brand.html.twig') }}
    {{ include('mega_menu/_racket.html.twig') }}
    {{ include('mega_menu/_shoes.html.twig') }}
    {{ include('mega_menu/_wear.html.twig') }}
    {{ include('mega_menu/_bag.html.twig') }}
    {{ include('mega_menu/_gut.html.twig') }}
    {{ include('mega_menu/_ball.html.twig') }}
    {{ include('mega_menu/_other.html.twig') }}

    <li class="c-cart-toggler-wrapper">
      <a href="#" class="c-btn-icon c-cart-toggler">
        <i class="icon-handbag c-cart-icon"></i>
        <span class="c-cart-number c-theme-bg">2</span>
      </a>
    </li>
    <li class="c-quick-sidebar-toggler-wrapper">
      <a href="#" class="c-quick-sidebar-toggler">
        <span class="c-line"></span>
        <span class="c-line"></span>
        <span class="c-line"></span>
      </a>
    </li>
    <li class="c-search-toggler-wrapper">
      <a href="#" class="c-btn-icon c-search-toggler">
        <i class="fa fa-search"></i>
      </a>
    </li>
  </ul>
</nav>
<!-- END: MEGA MENU -->
<!-- END: LAYOUT/HEADERS/MEGA-MENU -->
<!-- END: HOR NAV -->